@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
/* 1. Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* BASE */

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
      35deg,
      #ffffff 40%,
      transparent 41%,
      transparent 59%,
      #ffffff 60%
    ),
    linear-gradient(
      90deg,
      transparent 45%,
      #dd1d5b 45%,
      #dd1d5b 55%,
      transparent 55%,
      transparent 20%,
      #dd1d5b 20%,
      #dd1d5b 30%,
      transparent 30%
    );
  background-size: 10em 10em;
  background-color: #ffffff;
}

.width-wrapper {
  max-width: 1200px;
  margin: auto;
}

/* HEADER */

h1 {
  font-family: "Metropolis", sans-serif;
  font-size: 2.5rem;
  color: #1e244d;
}

header {
  margin-top: 16px;
  display: flex;
  gap: 12px;
  padding: 0 24px;
  background-color: #ffffff;
  background: linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(to right, #00008b, #8b0000) border-box;
  border-radius: 4px;
  border: 3px solid transparent;
  align-items: center;
}

nav {
  width: 100%;
}

ul {
  width: 100%;
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
}

.github {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.github img {
  height: 24px;
  width: 24px;
}

a {
  color: #000000;
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline dashed #000;
  text-underline-offset: 3px;
}

a:focus {
  outline: 1px dashed #000;
  outline-offset: 3px;
}

/* MAIN */

main {
  margin-top: 32px;
  border-radius: 4px;
  background-color: #ffffff;
  display: grid;
  grid-template-areas:
    "text text"
    "card card";
  gap: 24px;
  padding: 16px 0 32px;
}

.action-text {
  grid-area: text;
  text-align: center;
  max-width: 80%;
  margin: auto;
  font-size: 1.2em;
}

.action {
  grid-area: card;
  display: flex;
  justify-content: space-evenly;
}

.action__card {
  position: relative;
  cursor: pointer;
}

.action__card > img {
  object-fit: cover;
  width: 500px;
  height: 500px;
  flex-shrink: 1;
  border-radius: 4px;
  box-shadow: 0 0 14px #000;
}

.action__card section {
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  background-color: #ffffff90;
  padding: 24px 8px;
}

.action__card p {
  font-size: 1.25rem;
  position: absolute;
  visibility: hidden;
}

@keyframes text {
  0% {
    transform: translateX(-60px);
    opacity: 0.2;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.6;
  }
  100% {
  }
}

@media (hover: hover) {
  .action__card:hover p {
    position: static;
    visibility: visible;
    animation: text 0.3s ease-in-out;
  }
}

h2 {
  font-family: "Metropolis", sans-serif;
  font-size: 2.5rem;
}

h3 {
  color: #1e244d;
  font-family: "Metropolis", sans-serif;
}

@media (max-width: 1080px) {
  .action {
    flex-direction: column;
    align-items: center;
    gap: 14px;
    padding: 0 24px;
  }

  header {
    margin: 0;
    padding: 12px 16px;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
  }
}

@media (max-width: 580px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  nav > ul {
    justify-content: center;
  }

  .github {
    margin: 0;
  }
}
