main {
  margin-top: 32px;
  border-radius: 4px;
  background-color: #ffffff;
  display: grid;
  grid-template-areas:
    "text text"
    "card card";
  gap: 24px;
  padding: 16px 0 32px;
}

.action-text {
  grid-area: text;
  text-align: center;
  max-width: 80%;
  margin: auto;
  font-size: 1.2em;
}

.action {
  grid-area: card;
  display: flex;
  justify-content: space-evenly;
}

.action__card {
  position: relative;
  cursor: pointer;
}

.action__card > img {
  object-fit: cover;
  width: 500px;
  height: 500px;
  flex-shrink: 1;
  border-radius: 4px;
  box-shadow: 0 0 14px #000;
}

.action__card section {
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  background-color: #ffffff90;
  padding: 24px 8px;
}

.action__card p {
  font-size: 1.25rem;
  position: absolute;
  visibility: hidden;
}
